@using Agendamento.Models;

@model ExameModel



@{
    ViewData["Title"] = "Editar exame";
}

<div class="text-center">
    <h1 class="display-4"> Editar exame</h1>

</div>


<form asp-controller="Exame" asp-action="Alterar" method="post">
    <input type="hidden" asp-for="Id" />
    @Html.Partial("Form.cshtml")

</form>