@{
    ViewData["Title"] = "";
}

<div class="text-center">
    <h1 class="display-4">Sistema de agendamentos </h1>
    <p>Cadastro de pacientes,
        Agendamentos de consultas,
        Agendamentos de exames e
      
     
        </a></p>
</div>
