@model PacientesModel

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
    <script src="~/js/seuScript.js"></script>
}


@{
    ViewData["Title"] = "Cadastrar paciente";
}


<div class="text-center">
    <h1 class="display-4"> Cadastrar Paciente</h1>

</div> 



<form asp-controller="Pacientes" asp-action="Criar" method="post" >

    @Html.Partial("Form.cshtml")
        
    <button type="submit" class="btn btn-primary">Adicionar</button>
    <a class="btn btn-secondary " asp-action="Index" asp-controller="Pacientes" role="button">Voltar</a>

</form>