@using Agendamento.Models;

@model ConsultaModel

@{
    ViewData["Title"] = "Cadastro Consulta";
}

<div class="text-center">
    <h1 class="display-4"> Marcação de  Consultas</h1>

</div> 




    @Html.Partial("Form.cshtml")

